{{#each this}}
<li class="item" id="{{idx}}">
    <button class="btn-remove" id="{{id}}">&#10005;</button>
    <img class="img-prev" id="{{idx}}" src="{{previewURL}}" alt="Preview Image">
    <div class="back-prev-fav"></div>
</li>
{{/each}}