{{#each this}}
<li class="item" id="{{id}}">
    <button class="btn-remove" id="{{id}}">&#10005;</button>
    <img class="img" id="{{id}}" src="{{previewURL}}" alt="Preview Img">
    <div class="back-prev-fav"></div>
</li>
{{/each}}